h1{
    color: brown;
    text-align: center;
}

body,div{
    
    text-align: left;
    color: black;
    display: inline-block;
    margin: 30px;
    

}

body{
    background-image: url(9911.jpg);
    background-size: 100%;
    
}


#synopsis{

    float: left;    
    height: 600px;
    width: 25%; 
    color: black;
         
}
#buscar{
    display: inline-block;
    position: relative;
    padding-left: 40%;
    
    
}
#texto{
    text-align: center;
}
#titulo{
    text-align: center;
}



