h1{
    color: red;
    text-align: center;
}

body,div{
    
    text-align: left;
    color: black;
    display: inline-block;
    margin: 30px;
    

}

body{
    background-image: url(fondoo.png);
    background-size: 100%;
    
}


#synopsis{

    float: left;
    height: 600px;
    width: 25%; 
    color: black;
         
}



