h1{
    color: red;
    text-align: center;
}

body,div{
    
    text-align: left;
    color: black;
    display: inline-block;
    

}


#synopsis{

    float: left;
    height: 600px;
    width: 25%; 
    color: black;
         
}



